//.ui-button {
//  margin: 0 5px;
//  //padding: 4px;
//  border-radius: 0.25rem;
//  width: auto;
//  //height: fit-content;
//}

p-splitButton {
  float: left;
}

.ui-button-icon-only {
  padding: 0;
}

.ui-menu.ui-menuitem {
  float: left;
}


