<div class="ui-g">
  <p-card class="ui-lg-10 ui-lg-offset-1 ui-g-12">
    <h4>User List</h4>
    <hr>
  <p-table
    #dt
    [columns]="cols"
    [value]="users"
    [lazy]="true"
    (onLazyLoad)="loadUsersLazy($event)"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[10,20,30]"
    [totalRecords]="totalRecords"
    [loading]="loading"
    [responsive]="true">

    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <!--<p-splitButton id="export" label="Save" icon="pi pi-file" (onClick)="save('info')" [model]="items" ></p-splitButton>-->
        <button id="export" pButton type="submit" icon="pi pi-file" label="Export CSV" (click)="this.generateReport(this.reportTypes.csv)"></button>

        <i id="searchIcon" class="pi pi-search"></i>
        <input type="text" pInputText size="50" placeholder="Global Filter"
               (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-rowData let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th>
          Action
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <span class="ui-column-title">{{col.header}}</span>
          <span *ngIf="rowData[col.field] != true && rowData[col.field] != false">{{rowData[col.field]}}</span>
          <span class="table-label table-label-ok" *ngIf="rowData[col.field] == true">Active</span>
          <span class="table-label table-label-danger" *ngIf="rowData[col.field] == false">Inactive</span>
        </td>
        <td>
          <span class="ui-column-title">Action</span>
          <a [routerLink]="['/auth/' + rowData.id + '/edit']">
            <button class="ui-button-secondary" label="Edit" name="basic" pButton type="button" icon="pi pi-pencil" (click)="editUser(rowData.id)" ></button>
          </a>
          <button id="table-delete" class="ui-button-secondary" name="basic" pButton type="button" icon="pi pi-trash" (click)="onDelete(rowIndex)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <p style="font-weight: normal; float: left">Showing {{from}} - {{to}} of {{totalRecords}} records</p>
    </ng-template>
  </p-table>
</p-card>
</div>
