form textarea {
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
}

hr {
  margin-top: 15px;
}

p-button {
  padding: 10px;
}

form .ui-button {
  margin: 10px;
  padding: 4px;
  border-radius: 0.25rem;
  width: auto;
  height: fit-content;
}
