<p-card >
  <form class="container ui-fluid" [formGroup]="unitForm" (ngSubmit)="onSubmit()" >
    <h4 *ngIf="id;else create_unit" for="name">Edit Unit</h4>
    <ng-template #create_unit><h4>Create Unit</h4></ng-template>
    <hr>
    <div class="ui-g form-group ">
      <div class="ui-md-6 ui-g-12 ">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control"
               pInputText placeholder="Enter name"
               name="name" formControlName="name">
        <small *ngIf="!unitForm.controls['name'].valid && unitForm.controls['name'].touched">
          Name is required
        </small>
      </div>

      <div class="ui-g-12 ui-md-12 ui-lg-12">
        <label for="description">Description</label>
        <textarea
          [rows]="5"
          [cols]="30"
          pInputTextarea
          autoResize="autoResize"
          id="description"
          placeholder="Enter Description"
          formControlName="description"
        ></textarea>
        <small *ngIf="!unitForm.controls['description'].valid && unitForm.controls['description'].touched">
          Description is required
        </small>
      </div>
      <button class="submit-color" name="basic" pButton type="submit"  label="Submit"></button>
      <button class="ui-button-secondary" name="basic" pButton type="button" label="Cancel" (click)="onCancel()"></button>
    </div>
  </form>
</p-card>

