<div class="ui-g">
  <div class="ui-lg-6 ui-g-12">
    <app-permission-form></app-permission-form>
  </div>

  <div class="ui-lg-6 ui-g-12">
    <app-permission-table></app-permission-table>
  </div>
</div>
