.container{
  font-family: 'Montserrat', sans-serif;
}

form .ui-button{
  width: 8%;
  margin: 0px 10px 0;
  padding: 4px;
}

hr {
  margin-top: 15px;
}

p-button {
  padding: 10px;
}

form .ui-button {
  margin: 10px;
  padding: 4px;
  border-radius: 0.25rem;
  width: auto;
}

.sign-up-body{
  background-color: white;
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
}

small {
  font: 12px 'Montserrat', sans-serif;
}
